:root {
        // js
        --minus:1;
        // 色彩增值
        // --get-r: calc((var(--base-r)*(var(--blend-r)*var(--minus)))*255);
        // --get-g: calc((var(--base-g)*(var(--blend-g)*var(--minus)))*255);
        // --get-b: calc((var(--base-b)*(var(--blend-b)*var(--minus)))*255);
        // 減色混合法
        --get-r: calc((((var(--blend-r) * var(--minus))) + var(--base-r) )/2 *255);
        --get-g: calc((((var(--blend-g) * var(--minus))) + var(--base-g) )/2 *255);
        --get-b: calc((((var(--blend-b) * var(--minus))) + var(--base-b) )/2 *255);
        --get: var(--get-r), var(--get-g), var(--get-b);
}