.grid20 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr;
}

@mixin grid20($media) {
    .#{$media}#{'g'+'\\'+':'} {
        @for $start from -1 to 22 {
            @for $end from $start to 22 {
                &#{$start}-#{$end} {
                    grid-column: #{$start} / #{$end};
                }
            }
        }
    }
    .#{$media}d-none {
        display: none;
    }
    .#{$media}d-block {
        display: block;
    }
    .#{$media}d-grid {
        display: grid;
    }
}

$media-s:600px;
$media-sm:601px;
$media-m:801px;
$media-ml:1201px;
$media-l:1401px;
$breakpoints:'' '',
#{'s'+'\\'+':'} 'and (max-width: #{$media-s})',
#{'sm'+'\\'+':'} 'and (min-width: #{$media-sm})',
#{'m'+'\\'+':'} 'and (min-width: #{$media-m})',
#{'ml'+'\\'+':'} 'and (min-width: #{$media-ml})',
#{'l'+'\\'+':'} 'and (min-width: #{$media-l})';
@each $breakpoint,
$media in $breakpoints {
    @media screen #{$media} {
        @include grid20($breakpoint);
    }
}